body {
    font-family: 'Noto Serif TC', serif
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}

    .bg img {
        min-height: 100%;
        width: 100%;
        left: 20%;
        margin-top: -160px;
    }



#content p{
    font-size:15px;
    padding:0px 0px 0px 30px;
}

    #content h1 {
        padding:0px 20px 0px 30px;
    }


/*.column{
    column-count: 3;
    float: left;

}*/